/*
	Author: Thomas Marshall
	Email: clivo@sirestudios.com
*/

/* Reset */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ 
margin:0;
padding:0;
}
fieldset,img { 
border:0;
}
ol,ul {
list-style:none;
}
a {
outline: none;
text-decoration:none;
color: #192128;
}

/* General */
body {
background:#202a33 url(images/bg.gif) repeat-x;
color:#000;
font:12px/18px "Lucida Grande", verdana, arial, helvetica, sans-serif;
margin:0;
padding:50px 0;
}

p {
margin:0 20px 20px;
padding:0;
}

h2 {
font-size:18px;
color:#333;
}

#container {
width:630px;
margin:0 auto;
}

#inner {
float:left;
width: 630px;
background:#eee;
color:#333;
display:block;
}

#menu {
float:left;
width:610px;
background:#fff;
margin:10px 0;
}

#sidebar {
float:left;
width: 180px;
margin-top: 200px;
background:#eee;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
}

#sidebar_inner {
background: #fff;
width: 165px;
margin: 12px 10px 12px 0;
float:left;
padding-bottom: 15px;
text-align:center;
border:2px solid #ddd;
}

#main {
background:#fff;
width:610px;
float:left;
margin:0 10px 10px;
padding:0 0 25px;
}

#header {
font:40px/26px "Helvetica Neue", Helvetica, Arial;
font-weight:200;
text-align:center;
background:#fff;
float:left;
width:610px;
margin:10px;
padding:15px 0;
}

#logout {
font-size:12px;
display:inline;
color:#333;
border-bottom:1px dotted #333;
float:right;
line-height:13px;
font-weight:700;
margin:-60px 16px;
}

#header span {
font-size:18px;
line-height:20px;
}

.pad25 {
padding:25px;
}

.client_details strong {
width:120px;
float:left;
display:block;
text-align:left;
color:#000;
margin:0 10px 0 40px;
}

.client_details li {
width: 100%;
}

.client_details p {
line-height: 20px;
padding: 6px 0 !important;
}


h2 a {
color:#000!important;
border-bottom:1px dotted #000;
font-size:12px;
margin-left:10px;
font-weight:100;
}

#form {
line-height:33px;
}

#form label {
display:block;
width:180px;
text-align:right;
float:left;
font-weight:700;
margin:0 10px 0 30px;
}

a.rows {
width:100%;
border-bottom:1px solid #eee;
float:left;
color:#192128;
}

a.rows:hover {
background:#fcfcfc;
color:#333!important;
}

span.subject {
float:left;
width:280px;
overflow:hidden;
margin-left:10px;
}

span.name {
float:left;
margin-left:10px;
overflow:hidden;
margin-right:10px;
width:130px;
}

.msg_header {
width:70px;
float:left;
padding-right:10px;
text-align:right;
}

.writemail {
float:right;
margin-right:24px;
font-size:12px;
border:1px solid #eee;
background:#f5f5f5;
padding:2px 4px;
}

.writemail img {
position:relative;
top:2px;
padding-right:4px;
}

.writemail:hover {
border:1px solid #ccc;
background:#eee;
}

.unread {
background:#b6d4f2!important;
font-weight:700;
}

.button {
-moz-border-radius:8px;
-webkit-border-radius:8px;
background:#fff;
color:#333;
border:1px solid #fff;
float:left;
width: 114px;
line-height: 22px;
text-align:left;
font-weight:700;
margin:0 0 10px 15px;
padding:4px 8px;
-moz-box-shadow: 0px 0px 5px #178ef7;
}

.button:hover {
background:#fff;
cursor:pointer;
-moz-box-shadow: 0px 0px 5px 2px #178ef7;
}

.button img {
margin:3px 4px -3px 0;
}

.button span {
color:#000;
}

span.status {
width:20px;
float:left;
margin-left:10px;
margin-top:2px;
margin-bottom:-2px;
}

.bullets {
background: #fff;
padding: 10px 0;
text-align:left;
}

.bullets li {
list-style:none;
background:url(../../images/bullet_black.png) left 2px no-repeat;
padding-left: 17px;
margin-left: 10px;
}

.bullets li a {
color: #000;
font-weight: bold;
font-size: 11px;
}

.bullets small {
font-weight:bold;
line-height: 12px;
}

.bullets span {
color: #999;
}

option.disabled {
font-weight:700;
font-style:italic;
line-height:30px;
color:#000;
}

.submit {
background:url(../../images/blackgrad.gif);
color:#fff;
font-weight:bold;
font-size:13px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border: 1px solid #000;
padding:3px 8px 4px;
}

.submit:hover {
background: #000 url(../../images/blackgrad.gif) bottom center;
cursor:pointer;
}

#logo {
display:block;
margin:10px 10px 0;
}

#wrapper {
display:block;
width:570px;
margin:0 auto;
}

#content {
background:#fcfcfc;
display:block;
width:550px;
float:left;
margin:10px;
}

#content p a {
color:#192128;
border-bottom:1px dotted #192128;
}

.inner {
display:block;
float:left;
background:#e1e1e1;
}

.clr {
clear:both;
line-height:0;
height:0;
}

#footer {
float:left;
display:block;
width:100%;
height:45px;
color:#fff;
text-align:center;
margin:15px auto;
}

.footer_inner {
width:560px;
text-align:center;
font-size:10px;
margin:0 auto;
}

.header_display {
background:#192128;
width:560px;
line-height: 32px;
color:#fff;
float:left;
clear:left;
}

#display li {
font-weight:700;
border-bottom:1px solid #eee;
float:left;
}

span.id {
float:left;
margin-left:10px;
width:50px;
}

span.date {
float:left;
margin-left:10px;
margin-right:10px;
width:90px;
}

span.balance {
float:left;
margin-left:10px;
margin-right:10px;
padding-right:10px;
width:85px;
text-align:right;
}

span.options {
float:left;
width:230px;
margin-left:10px;
}

span.options a {
border:1px solid transparent;
line-height:20px;
color:#192128;
padding:2px 4px;
}

span.options img {
margin-top:4px;
margin-bottom:-4px;
}

span.options a:hover {
border:1px solid #ddd;
background:#eee;
color:#000;
}

#rows {
width:100%;
line-height:32px;
}

#rows li {
width:100%;
border-bottom:1px solid #eee;
color:#192128;
float:left;
}

.alt0 {
background:#f9f9f9;
float:left;
width:100%;
border-bottom:1px solid #eee;
}

.alt1 {
background:#fff;
float:left;
width:100%;
}

.edit a {
border:0;
}

#rows li:hover {
background:#fcfcfc;
color:#333;
}

.left_panel {
text-align:left;
width:270px;
float:left;
height:120px;
}

.right_panel {
text-align:right;
width:230px;
float:right;
height:120px;
margin-top:-14px;
}

.right_panel table th {
width:100px;
text-align:left;
}

.right_panel table td {
width:130px;
text-align:right;
}

.right_panel .button {
float:right;
margin-top:4px;
}

.right_panel big {
font-size:240%;
line-height:110%;
}

#cc_creditcard input,#cc_creditcard select {
margin:1px 0;
padding:2px 3px;
}

#cc_creditcard td {
vertical-align:top;
margin:5px;
padding:2px 5px;
}

#cc_creditcard label {
float:right;
font-size:13px;
font-weight:700;
padding:4px 5px 0 0;
}

#cc_creditcard table {
width:350px;
margin:0 auto;
}

#cc_final {
margin-left:40px!important;
}

#cc_final label {
padding-left:5px;
float:left;
font-size:13px;
font-weight:700;
}

input.tiny {
width:40px;
}

input.short {
width:60px;
}

input.long {
width:200px;
}

.sub_links a {
float:left;
margin: 0 10px 10px 0;
font-size:12px;
padding:2px 4px;
border:1px solid #ddd;
background:#f7f7f7;
font-weight: bold;
}

.sub_links a img {
position:relative;
top:3px;
padding-right:4px;
}

.sub_links a:hover {
border:1px solid #999;
background:#fff;
}

.gray {
color:#888;
padding:0 5px;
}

#loading {
width:250px;
height:100px;
background:#fff;
position:absolute;
left:50%;
top:50%;
margin-top:-50px;
margin-left:-125px;
z-index:1000;
border:5px solid #ededed;
-webkit-border-radius:10px;
-opera-border-radius:10px;
-moz-border-radius:10px;
}

#loading p {
font-size:18px;
text-align:center;
margin:15px 0 0;
padding:0;
}

#overlay {
background:#192128 url(../images/bg.gif) repeat-x;
height:100%;
width:100%;
position:absolute;
left:0;
top:0;
text-align:center;
z-index:900;
}

input,select {
-moz-border-radius:2px;
-webkit-border-radius:2px;
resize:none;
border-top:1px solid #8e8e8e;
border-left:1px solid #8e8e8e;
border-bottom:1px solid #e1e1e1;
border-right:1px solid #e1e1e1;
margin:0;
padding:2px;
}

#login {
background:#fff;
width:250px;
border:1px solid #ddd;
margin:110px auto;
padding:35px 35px 35px 45px;
}

#login h1 {
margin:0 0 5px;
}

#login label {
width:100px;
font-weight:700;
display:block;
float:left;
margin:15px 0 0;
}

#login input {
font-size:16px;
}

#login .submit {
float:right;
margin:10px 25px;
}

.message {
color:#000;
width:80%;
line-height:14px;
clear:left;
margin:40px auto 10px;
padding:15px;
}

.message big {
font-weight:700;
color:#000;
}

.message ul {
color:#555;
margin:10px 25px;
}

.message li {
background:url(../images/bullet_black.png) left no-repeat;
list-style:none;
margin:8px 0;
padding:0 0 0 25px;
}

.message a {
color:#000;
border-bottom:1px dotted #000;
}

.notopmarg {
margin-top:0;
}

.fail {
background:#fcb9b9;
border:solid 1px #ae1b1b;
}

.pass {
background:#befcb9;
border:solid 1px #1eae1b;
}

#previous,#next {
float:none;
cursor:pointer;
}

.addclient label {
margin:0 10px 0 28px !important;
}

.compose label {
margin:0 10px 0 -30px !important;
}

textarea,input,select {
-moz-border-radius:3px;
-webkit-border-radius:3px;
resize:none;
border-top:1px solid #8e8e8e;
border-left:1px solid #8e8e8e;
border-bottom:1px solid #e1e1e1;
border-right:1px solid #e1e1e1;
float:left;
margin:0;
padding:4px 8px;
}

textarea {
font:12px/18px "Lucida Grande",Lucida,Verdana,sans-serif;
width:360px;
height:160px;
}

.wide label {
margin:0 10px 0 0px !important;
}

#cc_final .submit {
margin: 0 auto;
float:none !important;
}

#image-placeholder {
text-align:center;
border: 2px solid #eee;
float:left;
width: 555px;
}

#tern {
max-width: 555px;
}

.note {
display: none;
border-top:2px solid #999;
border-left:2px solid #999;
border-bottom:2px solid #555;
border-right:2px solid #555;
overflow: hidden; 
position: absolute; 
z-index: 0;
}

.notep {
background:#fff;
border:2px solid #eee;
text-align:left;
font-weight:700;
font-size: 11px;
margin:0;
padding:4px;
display: none;  
position: absolute;
max-width: 200px;
}

#noteform {
	display: none;
	position: absolute;
	width: 250px;
	background: #fff;
	border:2px solid #ddd;
}

#noteform textarea{
	margin: 5px;
	width: 220px;
	height: 50px;
}

.discussion {
display:block;
border: 1px solid #ddd;
float:left;
width: 100%;
min-height: 80px;
margin: 5px 0;
}

.disc_left {
float:left;
width: 160px;
text-align:right;
padding-right: 10px;
margin: 10px;
font-weight: bold;
border-right: 2px solid #ddd;
min-height: 50px;
}

.disc_right {
float:left;
width: 330px;
margin: 10px 10px 10px 0;
}

.cancel {
color: #000;
font-weight:bold;
float:left;
line-height: 10px;
height: 10px;
display:block;
}

.cancel img {
width: 14px;
height: 14px;
margin: 0 3px;
}

.fileUploadQueue {
background: #fff;
font-size: 10px;
margin-left: 10px;
text-align:left;
}

a.writemail {
float:right;
margin: 0 10px 0 0;
font-size:12px;
padding:2px 4px;
border:1px solid #ddd;
background:#f7f7f7;
font-weight: bold;
}

a.writemail img {
position:relative;
top:3px;
padding-right:4px;
}

a.writemail:hover {
border:1px solid #999;
background:#fff;
}

.proj {
display:block;
border: 1px solid #ddd;
float:left;
width: 565px;
min-height: 80px;
margin: 5px 0;
color: #333 !important;
}

.proj p {
margin: 0;
padding: 10px 10px 0 0 !important;
}

.proj:hover {
background: #f8f8f8;
}

.proj_left {
float:left;
width:380px;
margin: 10px 0 10px 20px;
}

.proj_right {
float:right;
width:115px;
margin: 10px 18px 10px 0;
border-left: 2px solid #ddd;
padding-left: 10px;
}

#heading {
display:block;
text-align:center;
margin-bottom:1em;
background:#fff;
}

#heading li.control {
display:inline;
user-select:none;
cursor:pointer;
vertical-align:middle;
padding:4px 10px;
font-weight: bold;
cursor: pointer;
line-height: 33px;
}

#heading li.jFlowSelected, control.jFlowSelected {
background:url(../../images/blackgrad.gif) repeat-x;
border-radius:5px;
color:#fff;
font-weight:700;
-webkit-border-radius:5px;
-opera-border-radius:5px;
-moz-border-radius:5px;
}

#heading {
display:block;
text-align:center;
margin-bottom:1em;
background:#fff;
}

#heading * {
display:inline;
cursor:pointer;
vertical-align:middle;
font-size:16px;
margin:0 3px;
padding:2px 6px;
}

#wrapper2 {
border:1px solid #ddd;
background:#fff;
margin:1em;
padding:1em;
}

#panes {
border-style:none;
margin:0 1em 2em;
}

#panes p {
margin:0 1em 1em;
}

#panes div div {
overflow:hidden;
}

